body{
    background: #352f5b;
  }

  .container{ /* everthing inside the container class */
    max-width: 400px;
  }

  input[type=text],
  input[type=text]:focus{ /* when we click the add to do list box*/
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2); /*transparent black*/
    max-width: 400px;
  }

  .todos li{
    background: #423a6f;
  }

  .delete{
    cursor: pointer;
  }

  .filtered {
    display: none !important
  }